/*Carousel*/
.carousel-item{
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-caption{
	bottom: 220px;
}

.carousel-caption h5{
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}

.carousel-caption p{
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins ;
}

.carousel-caption a{
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #ffffff;
	margin-top: 15px ;
}

/*Oscurecer la imagen de fondo*/
#fondo {
	background-size: cover;
	background-repeat: no-repeat;
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	opacity: 0.7;
}

#fondo:before {
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#fondo h1 {
	font-size: 60px;
	color: #fff;
	position: relative
}

/*Tamaño a todas la letras*/
h1,h2,h3,h4,h5,h6 {
	margin-top: 8px;
	margin-bottom: 15px;
	font-weight: 600;
	color: #f9f9fa;
}

h1 {
	font-size:58px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:24px;
}
h4 {
	font-size:18px;
}
a {
	font-family: 'Lato', sans-serif;
	color: #374050;
	font-weight: 700;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
	color: #1050be;
	opacity: 0.9;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none
}
.white-text {
	color: #FFF;
}

/* Efecto Boton Empezar */
.main-button {
	position:relative;
	display:inline-block;
	padding:10px 30px;
	background-color: rgb(12, 175, 245);
	border: 2px solid transparent;
	border-radius: 40px;
	color: #FFF;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-button:hover , .main-button:focus {
	background-color:#fff;
	border: 2px solid rgb(12, 175, 245);
	color:rgb(12, 175, 245);
}

.main-button.icon-button:hover , .main-button.icon-button:focus {
	padding-right: 45px;
}

.main-button.icon-button:after {
	content:"\f178";
	font-family:FontAwesome;
	position:absolute;
	width: 30px;
	right: 15px;
	text-align:center;
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

/* Efecto Botones RededSocial */
.middle{
	position: absolute;
	top: 95%;/***posicion***/
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.btn{
	display: inline-block;
	width: 50px;/***tamaño del boton***/
	height: 50px;
	background: #a4a7a4;
	margin: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px rgba(231, 69, 69, 0.439);/*Sombras*/
	color:  #3498db;
	overflow: hidden;
	position: relative;
}

.btn i{
	line-height: 40px;/***tamaño del icono***/
	font-size: 26px;
	transition: 0.2s linear;
}

.btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;/***color a cambiar del icono***/
}

.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: rgb(12, 175, 245);/***color a cambiar del contorno***/
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa {
	0%{
		left: -110%;
		top: 90%;
	}50%{
		left: 10%;
		top: -30%;
	}100%{
		top: -10%;
		left: -10%;
	}
}

.main-button.icon-button:hover:after , .main-button.icon-button:focus:after {
	opacity:5;
}


/*------------------------------------*\
	Navigation
\*------------------------------------*/
#header {
	position:relative;
	left:0;
	right:0;
	top:0;
	z-index:99;
	border-bottom:1px solid rgba(245, 246, 247, 0.25);

	-webkit-transition:0.2s all;
	transition:0.2s all;
}

#header.transparent-nav {
	position:absolute;
	background-color: transparent;
}

#header.transparent-nav .main-menu li a {
	color:#FFF;
}

.main-menu li a {
	text-transform:uppercase;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-menu li a:hover , .main-menu li a:focus {
	background-color:transparent;
}

.main-menu li a:after {
	content:"";
	display:block;
	height:2px;
	background-color:rgb(12, 175, 245);
	width:100%;
	-webkit-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	        transform: translateY(5px);
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-menu li a:hover:after , .main-menu li a:focus:after {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity:1;
}

/* -- Mobile Nav -- */
@media only screen and (max-width: 767px) {
	#nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 0%;
		max-width:250px;
		height: 100vh;
		background: #FFF;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
		        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
		padding-top: 80px;
		padding-bottom: 40px;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
		-webkit-transition: 0.4s all cubic-bezier(.77,0,.18,1);
		transition: 0.4s all cubic-bezier(.77,0,.18,1);
		z-index:9;
	}

	#header.nav-collapse #nav{
		width:100%;
		-webkit-transform: translateX(0%);
		    -ms-transform: translateX(0%);
		        transform: translateX(0%);
	}
	
	.main-menu {
		margin:0;
	}
	
	.main-menu li a {
		color: #374050 !important;
		display: inline-block;
		margin-left: 40px;
	}
}

/* -- Mobile Toggle Btn -- */
.navbar-toggle {
	position:fixed;
	right:0;
	padding: 0;
	height: 40px;
	width: 40px;
	margin-top: 5px;
	z-index:99;
}

.navbar-toggle > span {
	position: absolute;
	top: 50%;
	left: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
	-webkit-transition: 0.2s background;
	transition: 0.2s background;
}

.navbar-toggle > span:before, .navbar-toggle > span:after {
	content: '';
	position:absolute;
	left:0;
	-webkit-transition: 0.2s -webkit-transform;
	transition: 0.2s -webkit-transform;
	transition: 0.2s transform;
	transition: 0.2s transform, 0.2s -webkit-transform;
}

.navbar-toggle > span , .navbar-toggle > span:before , .navbar-toggle > span:after {
	height: 2px;
	width: 25px;
	background-color:rgb(12, 175, 245);
}

.navbar-toggle > span:before {
	top: -10px;
}

.navbar-toggle > span:after {
	top: 10px;
}

#header.nav-collapse .navbar-toggle > span {
	background: transparent;
}

#header.nav-collapse .navbar-toggle > span:before {
    -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
}

#header.nav-collapse .navbar-toggle > span:after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
}

/*------------------------------------*\
	Hero Area
\*------------------------------------*/
.hero-area {
	position:relative;
	padding-top: 80px;
	padding-bottom: 80px;
}

#home.hero-area {
	height:calc(100vh - 80px);
	padding-top: 0px;
	padding-bottom: 0px;
}

.home-wrapper {
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	left:0;
	right:0;
}

/* -- Breadcrumb -- */
.hero-area-tree li {
	display:inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:14px;
	color:rgba(255, 255, 255, 0.8);
}

.hero-area-tree li > a {
	color:rgba(255, 255, 255, 0.8);
}

.hero-area-tree li + li:before {
	content: "/";
	display: inline-block;
	margin: 0px 5px;
	color: rgba(235, 15, 15, 0.25);
}





/* Reponsive */
.w-100{
    height: 100vh;
}

@media only screen and (max-width: 767px){
    .navbar-nav.ml-auto{
        background: rgb(0, 0, 0,0.5);
    }
    .navbar-toggler{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #ffffff;
    }
}